<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dynamic-qrs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8e408ffc-0518-45d7-9228-e7b826e577ee/resourceGroups/Dynamic-QR/providers/Microsoft.Web/sites/dynamic-qrs</ResourceId>
    <PublishUrl>https://dynamic-qrs.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>